<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

    </head>
    <body>
        <h1>Cestris</h1>
        <p id='error' style="color: red"></p>
        <label for="roomid">Room ID: </label>
        <input id="roomid-input" name="roomid"></input>
        <label for="name">Username: </label>
        <input id="name-input" name="name"></input> <br>
        <button id="online-join-button">Online-Join</button>
        <button id="online-ready-button">Online-Ready</button>
        <button id="local-button">Local</button>
         
        <div id="debug"></div>

        <div style="display:flex">
            <div id="main-view" style="margin: 10px"> Game:<br> </div>
            <div id="remote-view" style="margin: 10px"> Remote:<br> </div>
        </div>
        
        <p>Room ID: </p><p id="roomId"></p>
        <lu id="member-list"> 
            Members: <br>
        </lu> <br>
        <div id="chat-box"> 
            Chat: <br>
            <lu id="chat-stream">
                <li> This is the chat stream </li>
            </lu>
            <form id="chat-form">
                <input id="chat-form-input" autocomplete="off" /><button>Send</button>
            </form>
        </div>

        <script type="module" src="./index.js"></script>
    </body>
</html>