<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
        <script> 
            var IS_STATIC_PAGE = false;
        </script>
    </head>
    <body>
		<div id="storage" style="display: none"> 
			<div id="online-prompt" class="prompt-content">
				<label for="roomid">Room ID: </label><br>
				<input id="roomid-input" name="roomid"></input> <br>
				<label for="name">Username: </label><br>
				<input id="name-input" name="name"></input>
			</div>

			<div id="config-prompt" class="prompt-content">
				<label for="SDF">SDF </label>
				<input id="SDF-input" name="SDF" type="number" placeholder="-1"></input> <br>
				<label for="DAS">DAS </label>
				<input id="DAS-input" name="DAS" type="number" placeholder="7"></input> <br>
				<label for="ARR">ARR </label>
				<input id="ARR-input" name="ARR" type="number" placeholder="0"></input>
			</div>

			<div id="bot-prompt" class="prompt-content">
				<label for="Depth">Depth </label>
				<input id="Depth-input" name="Depth" type="number" placeholder="3"></input> <br>
				<label for="PPS">PPS </label>
				<input id="PPS-input" name="PPS" type="number" placholder="1.5"></input>
			</div>
		</div>

        <div id="prompt" class="prompt" style="display: none; opacity: 0;">
			<div id="prompt-content"></div>

			<br>
			<div style="display:flex; flex-direction: row">
			<button id="prompt-cancel" class="prompt-button">Cancel</button>
            <button id="prompt-submit" class="prompt-button">Ok</button>
			</div>
		</div>

        <div id="filter"></div>

        <div class="title-box" id="title-box"> 
            <div class="title">Cestris</div>
            <p id='error' style="color: red"></p>
        </div>


        <div id="home-menu" class="menu-box"> 
            <button id="online-join-button">Online-Join</button> <br>
            <button id="local-button">Local</button> <br>
            <button id="bot-button">Bot</button> <br>
            <button id="config-button">Config</button> <br>
        </div>


        <div id="main-box">
            <div id="room-view" style="display:none">
                <div id="roomId">Room ID:</div>
                <div id="username">Username:</div>
                <button id="online-ready-button">ready</button>
                <div id="member-view">  
                    Members: <br>
                    <div id="member-list"> 
                        
                    </div>
                </div> <br>

                <div id="chat-view"> 
                    Chat: <br>
                    <div id="chat-stream"> </div>
                    <input id="chat-input" autocomplete="off" />
                </div>
            </div>

            <div id="main-view"></div>
            <div id="remote-view"></div>
        </div>
        
        <script type="module" src="./js/index.mjs"></script>
    </body>
</html>
