<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

    </head>
    <body>
        <div id="online-prompt" class="prompt" style="display: none; opacity: 0;">
            <label for="roomid">Room ID: </label><br>
            <input id="roomid-input" name="roomid"></input> <br>
            <label for="name">Username: </label><br>
            <input id="name-input" name="name"></input> <br><br>
            <button id="online-prompt-cancel" class="prompt-button">Cancel</button>
            <button id="online-prompt-submit" class="prompt-button">Ok</button>
        </div>

        <div id="filter"></div>

        <div class="title-box" id="title-box"> 
            <div class="title">Cestris</div>
            <p id='error' style="color: red"></p>
        </div>


        <div id="home-menu" class="menu-box"> 
            <button id="online-join-button">Online-Join</button> <br>
            <button id="local-button">Local</button> <br>
        </div>


        <div id="main-box">
            <div id="room-view" style="display:none">
                <div id="roomId">Room ID:</div>
                <div id="username">Username:</div>
                <button id="online-ready-button">ready</button>
                <div id="member-view">  
                    Members: <br>
                    <div id="member-list"> 
                        
                    </div>
                </div> <br>

                <div id="chat-view"> 
                    Chat: <br>
                    <div id="chat-stream"> </div>
                    <input id="chat-input" autocomplete="off" />
                </div>
            </div>

            <div id="main-view"></div>
            <div id="remote-view"></div>
        </div>
        

    
        <script type="module" src="./index.js"></script>
    </body>
</html>