* {
    font-family: Arial;
}
html, body {
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}
li {
    list-style: none;
}
.game-board {
    border: 2px;
}
.title-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    
    transition: 1s ease-in-out;
}
.title {
    font-size: 36px;
    margin: 4px;
    text-align: center; 
}
.menu-box {
    position: absolute;
    left: 50%;
    top: 100%;
    opacity: 0;
    transform: translateX(-50%);
    text-align: center;

    transition: 500ms ease-in-out;
}
.prompt {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: 10;
    border-radius: 4px;
    background: #eee; 
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translate(-50%, -50%);

    transition: 200ms;
}
#filter {
    background-color: #000;
    opacity: 0;
    transition: 500ms;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
input {
    border: none;
    border-radius: 6px;
    padding: 4px;
}
button {
    border: 0px;
    padding: 10px;
    margin: 6px;
    background: #eee;
    border-radius: 8px; 
    transition: 0.3s;
}
.prompt-button {
    width: 40%;
    background: #fff;
}
button:hover {
    background-color: #6ad2cb;
    color: white;
}
#main-box {
    position: absolute;
    top: 100%;
    left: 0%;

    width: 100%;
    height: 90%;

    display: flex;
    transition: 1s;
}
#room-view {
    width: 200px;
    height: 90%;
    margin: 6px;
    background: #eee;
    border-radius: 6px;
    padding: 6px;
}
#member-view {
    height: 40%;
}
#chat-view {
    font-size: 12px;
}
#chat-stream {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}
#chat-input {
    width: -webkit-fill-available;
}
.message-box {
    border-bottom: dotted 1px #444;
}
.game-box {
    margin: 6px;
    border-radius: 12px;
    overflow: hidden;
}