<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="pub/css/style.css">
  </head>
  <body style="margin: 20px">
    <nav>
      <a href="/static-page.html" style="font-size: 2rem; text-decoration: none; color: SteelBlue" >Cestris</a>
      <a href="/readme.html" style="font-size: 1rem; text-decoration: none; color: SteelBlue">About</a>
    </nav>
    <section>
      {{ content }}
    </section>
    <hr>
    <footer>
      &copy; Shih-an Chang
    </footer>
  </body>
</html>
